<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<mvc:annotation-driven />

	<context:component-scan base-package="com.abiode.dao.impl" />
	<context:component-scan base-package="com.abiode.service.impl" />
	<context:component-scan base-package="com.abiode.controller" />
	<context:component-scan base-package="com.abiode.model" />
	<context:component-scan base-package="com.abiode.manager.impl" />

	<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:gen-dev.properties</value>
            </list>
        </property>
    </bean>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	   <property name="mappings">
		<props>
		   <prop key="/pages/*.html">serviceMonitorController</prop>
		 </props>
	   </property>
	</bean>

	<bean id="serviceMonitorController" class="com.abiode.web.controller.ServiceMonitorController">
        <property name="adminUser" value="${anl.web.admin.user}"/>
        <property name="adminPwd" value="${anl.web.admin.pwd}"/>
	</bean>

</beans>
